*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

/* ===== HEADER ===== */
header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
background:#111;
color:white;
position:fixed;
width:100%;
top:0;
z-index:1000;
}

.logo{
display:flex;
align-items:center;
gap:10px;
border-radius: 50px;
}

.logo img{
height:40px;
border-radius: 50px;
}

nav{
display:flex;
gap:25px;
}

nav a{
text-decoration:none;
color:white;
transition:0.3s;
}

nav a:hover{
color:#00f5ff;
}

.menu-btn{
display:none;
font-size:28px;
cursor:pointer;
}

/* ===== HERO ===== */
.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
padding:20px;
font-size: large;
}

.hero span{
color:#00f5ff;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 30px;
background:#00f5ff;
color:black;
text-decoration:none;
border-radius:30px;
font-weight:bold;
}

/* ===== STATS ===== */
.stats{
display:flex;
justify-content:center;
gap:50px;
padding:80px 8%;
background:#111;
color:white;
font-size: large;
}

.stat{
text-align:center;
}

/* ===== FOOTER ===== */
footer{
text-align:center;
padding:30px;
background:#000;
color:white;
}

/* ===== MOBILE ===== */
@media(max-width:768px){

nav{
position:absolute;
top:70px;
right:0;
background:#1a1a1a;
flex-direction:column;
width:220px;
padding:20px;
display:none;
border-radius:8px;
}

nav.active{
display:flex;
}

.menu-btn{
display:block;
}

.stats{
flex-direction:column;
gap:30px;
}

}

body{
padding-top:80px;
}
section{
padding:80px 8%;
text-align:center;
}

.about{
background:#f4f4f4;
color:#333;
}

.services-preview{
background:#111;
color:white;
}

.service-box{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:40px;
}

.card{
background:#222;
padding:30px;
border-radius:10px;
width:300px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
background:#00f5ff;
color:black;
}

.why-us{
background:#f4f4f4;
color:#333;
}

.why-us ul{
list-style:none;
line-height:2;
margin-top:20px;
}

.cta{
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
}

.testimonial{
background:#111;
color:white;
}

.testimonial-box{
max-width:600px;
margin:40px auto;
background:#222;
padding:30px;
border-radius:10px;
}
